Update sheet Project 5(Supabase) (1).json
{
  "name": "Update sheet Project 5(Supabase)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        208
      ],
      "id": "19c8ffd2-b8e5-4373-a1e3-4998f79db90f",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "cWZc60iAh3G6ZBKr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18NZzkcrZaHE9FWNsE4bUrvi3UNJwQYJ-GodA9gr3T9Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "1_TrendSignals",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11t5J08nlwFn4_wZn4nKlGsdGZZ7TCicnioXwKzjyhpc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Trend": "={{ $json.trend }}",
            "Category": "={{ $json.category }}",
            "Detected Date": "={{ $json.detectedDate }}",
            "Size": "={{ $json.size }}",
            "Color": "={{ $json.color }}",
            "Material": "={{ $json.material }}",
            "Pattern": "={{ $json.pattern }}",
            "Style": "={{ $json.style }}",
            "Feature": "={{ $json.feature }}",
            "Price Bucket": "={{ $json.priceBucket }}",
            "Mentions (Sources)": "={{ $json.mentionsSources }}",
            "Key Insight": "={{ $json.keyInsight }}",
            "Source Example": "={{ $json.sourceExample }}",
            "Input": "={{ $json.input }}"
          },
          "matchingColumns": [
            "Project 2"
          ],
          "schema": [
            {
              "id": "Trend",
              "displayName": "Trend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Detected Date",
              "displayName": "Detected Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Size",
              "displayName": "Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Color",
              "displayName": "Color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Material",
              "displayName": "Material",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pattern",
              "displayName": "Pattern",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Style",
              "displayName": "Style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Feature",
              "displayName": "Feature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Price Bucket",
              "displayName": "Price Bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mentions (Sources)",
              "displayName": "Mentions (Sources)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Key Insight",
              "displayName": "Key Insight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source Example",
              "displayName": "Source Example",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Input",
              "displayName": "Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        0
      ],
      "id": "08f36723-d637-4553-b9c9-e16f8028354a",
      "name": "Update 1_TrendSignals sheet",
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2fjEuGYfZnVM2zDW",
          "name": "GoogleSheets-Extern-<PauloMaia>"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18NZzkcrZaHE9FWNsE4bUrvi3UNJwQYJ-GodA9gr3T9Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 213058160,
          "mode": "list",
          "cachedResultName": "2_CompetitorMoves",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11t5J08nlwFn4_wZn4nKlGsdGZZ7TCicnioXwKzjyhpc/edit#gid=213058160"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Category": "={{ $json.category }}",
            "Feature": "={{ $json.feature }}",
            "Competitor": "={{ $json.competitor }}",
            "Product / Collection": "={{ $json.productCollection }}",
            "Price": "={{ $json.price }}",
            "Rating": "={{ $json.rating }}",
            "PDP Highlights": "={{ $json.pdpHighlights }}",
            "Campaign / Social Mention": "={{ $json.campaignSocialMention }}",
            "Last Launch Date": "={{ $json.lastLaunchDate }}",
            "Insight": "={{ $json.insight }}",
            "Wayfair Gap": "={{ $json.wayfairGap }}",
            "Suggested Action": "={{ $json.suggestedAction }}",
            "Input": "={{ $json.input }}"
          },
          "matchingColumns": [
            "Project 2"
          ],
          "schema": [
            {
              "id": "Competitor",
              "displayName": "Competitor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product / Collection",
              "displayName": "Product / Collection",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Feature",
              "displayName": "Feature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PDP Highlights",
              "displayName": "PDP Highlights",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Campaign / Social Mention",
              "displayName": "Campaign / Social Mention",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Launch Date",
              "displayName": "Last Launch Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insight",
              "displayName": "Insight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Wayfair Gap",
              "displayName": "Wayfair Gap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Suggested Action",
              "displayName": "Suggested Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Input",
              "displayName": "Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        480
      ],
      "id": "2759ca33-15db-44e7-9144-05841da820d7",
      "name": "Update 2_CompetitorMoves sheet",
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2fjEuGYfZnVM2zDW",
          "name": "GoogleSheets-Extern-<PauloMaia>"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18NZzkcrZaHE9FWNsE4bUrvi3UNJwQYJ-GodA9gr3T9Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 19629565,
          "mode": "list",
          "cachedResultName": "3_Allinsights",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11t5J08nlwFn4_wZn4nKlGsdGZZ7TCicnioXwKzjyhpc/edit#gid=19629565"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Insight": "={{ $json.insight }}",
            "Related Trend": "={{ $json.relatedTrend }}",
            "Related Competitor": "={{ $json.relatedCompetitor }}",
            "Attribute": "={{ $json.attribute }}",
            "Summary Insight": "={{ $json.summaryInsight }}",
            "Recommended Action": "={{ $json.recommendedAction }}",
            "Content Idea": "={{ $json.contentIdea }}",
            "Type (Blog / Social / Campaign)": "={{ $json.type }}",
            "Impact Level": "={{ $json.impactLevel }}",
            "Owner / Team": "={{ $json.ownerTeam }}",
            "Date Created": "={{ $json.dateCreated }}",
            "Input": "={{ $json.input }}"
          },
          "matchingColumns": [
            "Project 2"
          ],
          "schema": [
            {
              "id": "Insight",
              "displayName": "Insight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Related Trend",
              "displayName": "Related Trend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Related Competitor",
              "displayName": "Related Competitor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Attribute",
              "displayName": "Attribute",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary Insight",
              "displayName": "Summary Insight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recommended Action",
              "displayName": "Recommended Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Idea",
              "displayName": "Content Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type (Blog / Social / Campaign)",
              "displayName": "Type (Blog / Social / Campaign)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Impact Level",
              "displayName": "Impact Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Owner / Team",
              "displayName": "Owner / Team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Input",
              "displayName": "Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        928
      ],
      "id": "23745c6a-6b81-4113-b735-549b55d7ef0e",
      "name": "Update 3_Allinsights sheet",
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2fjEuGYfZnVM2zDW",
          "name": "GoogleSheets-Extern-<PauloMaia>"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        688
      ],
      "id": "4ae24d24-51f1-4896-b45c-aa4a1b93a715",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "cWZc60iAh3G6ZBKr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === INPUT: LLM output as stringified JSON array ===\nconst rawOutput = items[0].json.output;\n\nconst cleanJSON = rawOutput\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\n\n// Safely parse the JSON string\nlet data;\ntry {\n  const parsed = JSON.parse(cleanJSON);\n  data = Array.isArray(parsed) ? parsed[0] : parsed;\n} catch (error) {\n  throw new Error(`Invalid JSON in output: ${error.message}`);\n}\n\n// === EXTRACT EACH FIELD SEPARATELY ===\nconst trend = data[\"Trend\"] || \"-\";\nconst category = data[\"Category\"] || \"Rugs\"; // fallback\nconst detectedDate = data[\"Detected Date\"] || \"-\";\n// const trendType = data[\"Trend Type\"] || \"-\";\nconst size = data[\"Size\"] || \"-\";\nconst color = data[\"Color\"] || \"-\";\nconst material = data[\"Material\"] || \"-\";\nconst pattern = data[\"Pattern\"] || \"-\";\nconst style = data[\"Style\"] || \"-\";\nconst feature = data[\"Feature\"] || \"-\";\nconst priceBucket = data[\"Price Bucket\"] || \"-\";\nconst mentionsSources = data[\"Mentions (Sources)\"] || \"-\";\nconst keyInsight = data[\"Key Insight\"] || \"-\";\nconst sourceExample = data[\"Source Example\"] || \"-\";\n\n// Clean: replace newlines with space, collapse spaces\nfunction clean(str) {\n  return typeof str === \"string\"\n    ? str.replace(/\\r\\n|\\r|\\n/g, \" \").replace(/\\s+/g, \" \").trim()\n    : str;\n}\n\n// Apply cleaning\nconst cleaned = {\n  trend: clean(trend),\n  category: clean(category),\n  detectedDate: clean(detectedDate),\n  // trendType: clean(trendType),\n  size: clean(size),\n  color: clean(color),\n  material: clean(material),\n  pattern: clean(pattern),\n  style: clean(style),\n  feature: clean(feature),\n  priceBucket: clean(priceBucket),\n  mentionsSources: clean(mentionsSources),\n  keyInsight: clean(keyInsight),\n  sourceExample: clean(sourceExample),\n  input: $('Get a row1').first().json.input_text,\n  project: 2,\n};\n\n// === RETURN FLAT FIELDS ===\nreturn [\n  {\n    json: cleaned\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        0
      ],
      "id": "025e9177-a30d-46fd-b46a-319831266b38",
      "name": "Extract data from AI output"
    },
    {
      "parameters": {
        "jsCode": "// === INPUT: LLM output with ```json\nconst rawOutput = items[0].json.output.trim();\n\n// Step 1: Remove ```json and ``` markers\nlet jsonString = rawOutput\n  .replace(/^\\s*```json\\s*/i, '')   // Remove opening ```json\n  .replace(/\\s*```\\s*$/i, '')       // Remove closing ```\n  .trim();\n\n// Optional: Clean up any leftover whitespace\njsonString = jsonString.replace(/\\r\\n|\\r|\\n/g, ' ').replace(/\\s+/g, ' ');\n\n// Step 2: Parse JSON safely\nlet data;\ntry {\n  const parsed = JSON.parse(jsonString);\n  data = Array.isArray(parsed) ? parsed[0] : parsed;\n} catch (error) {\n  throw new Error(`JSON parse failed: ${error.message}\\nExtracted: ${jsonString.substring(0, 200)}...`);\n}\n\n// Step 3: Helper to clean strings\nconst clean = (val) => (typeof val === 'string') ? val.trim() : (val ?? 'N/A');\n\n// Step 4: Extract and flatten all fields\nconst result = {\n  competitor: clean(data[\"Competitor\"]),\n  productCollection: clean(data[\"Product / Collection\"]),\n  category: clean(data[\"Category\"]),\n  feature: clean(data[\"Feature\"]),\n  price: clean(data[\"Price\"]),\n  rating: clean(data[\"Rating\"]),\n  pdpHighlights: clean(data[\"PDP Highlights\"]),\n  campaignSocialMention: clean(data[\"Campaign / Social Mention\"]),\n  lastLaunchDate: clean(data[\"Last Launch Date\"]),\n  insight: clean(data[\"Insight\"]),\n  wayfairGap: clean(data[\"Wayfair Gap\"]),\n  suggestedAction: clean(data[\"Suggested Action\"]),\n  input: $('Get a row2').first().json.input_text,\n  project: 3,\n};\n\n// === RETURN: One clean item with flat fields ===\nreturn [{\n  json: result\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        480
      ],
      "id": "58c01006-e482-43e7-a392-9eea9f82137a",
      "name": "Extract data from AI output1"
    },
    {
      "parameters": {
        "jsCode": "// n8n-idiomatic input\nconst rawOutput = $input.first()?.json?.output;\n\nif (!rawOutput || typeof rawOutput !== 'string') {\n  return [{ json: { error: \"Missing or non-string `output` from upstream node\", rawType: typeof rawOutput } }];\n}\n\n// Remove markdown fences anywhere, not only at start/end\nlet cleanedOutput = rawOutput.replace(/```json|```/gi, \"\").trim();\n\nlet insights;\ntry {\n  insights = JSON.parse(cleanedOutput);\n  if (!Array.isArray(insights)) throw new Error(\"Parsed output is not an array\");\n} catch (error) {\n  throw new Error(\n    `Invalid JSON in output: ${error.message}\\n` +\n    `First 200 chars: ${cleanedOutput.substring(0, 200)}...`\n  );\n}\n\nfunction clean(str) {\n  return typeof str === \"string\"\n    ? str.replace(/\\r\\n|\\r|\\n/g, \" \").replace(/\\s+/g, \" \").trim()\n    : str;\n}\n\nconst inputText = $('Get a row3')?.first()?.json?.input_text ?? \"\";\n\nreturn insights.map(insight => ({\n  json: {\n    insight: clean(insight[\"Insight\"] ?? \"-\"),\n    relatedTrend: clean(insight[\"Related Trend\"] ?? \"-\"),\n    relatedCompetitor: clean(insight[\"Related Competitor\"] ?? \"-\"),\n    attribute: clean(insight[\"Attribute\"] ?? \"-\"),\n    summaryInsight: clean(insight[\"Summary Insight\"] ?? \"-\"),\n    recommendedAction: clean(insight[\"Recommended Action\"] ?? \"-\"),\n    contentIdea: clean(insight[\"Content Idea\"] ?? \"-\"),\n    type: clean(insight[\"Type (Blog / Social / Campaign)\"] ?? \"-\"),\n    impactLevel: clean(insight[\"Impact Level\"] ?? \"-\"),\n    ownerTeam: clean(insight[\"Owner / Team\"] ?? \"-\"),\n    dateCreated: clean(insight[\"Date Created\"] ?? \"-\"),\n    input: inputText,\n    project: 5,\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        928
      ],
      "id": "675c8ea4-ca90-4b27-88d2-40d0ad9aab7d",
      "name": "Extract data from AI output2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        1152
      ],
      "id": "e3dbc18a-0b4c-48cb-a4a9-7934a3b6cfe1",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "cWZc60iAh3G6ZBKr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "agent_output",
        "filters": {
          "conditions": [
            {
              "keyName": "agentId",
              "keyValue": "4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        928
      ],
      "id": "de706c29-ec11-4afc-97ba-b8876e151f69",
      "name": "Get a row3",
      "retryOnFail": false,
      "credentials": {
        "supabaseApi": {
          "id": "k1ZL5Lhw4egAU37K",
          "name": "Supabase-Extern-<Paulo Maia>"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "agent_output",
        "filters": {
          "conditions": [
            {
              "keyName": "agentId",
              "keyValue": "3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        16,
        480
      ],
      "id": "9f6ca59d-2848-4f6b-abcb-4c0815c9d140",
      "name": "Get a row2",
      "retryOnFail": false,
      "credentials": {
        "supabaseApi": {
          "id": "k1ZL5Lhw4egAU37K",
          "name": "Supabase-Extern-<Paulo Maia>"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "agent_output",
        "filters": {
          "conditions": [
            {
              "keyName": "agentId",
              "keyValue": "2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e7681ce9-68f0-4c62-8b64-e9c8faae00ee",
      "name": "Get a row1",
      "retryOnFail": false,
      "credentials": {
        "supabaseApi": {
          "id": "k1ZL5Lhw4egAU37K",
          "name": "Supabase-Extern-<Paulo Maia>"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output_text }}",
        "options": {
          "systemMessage": "=You are a home decor trend strategist. Convert the HTML trend report into **valid JSON** (array of objects) using this exact structure:\n\n[\n  {\n    \"Insight\": \"\",\n    \"Related Trend\": \"\",\n    \"Related Competitor\": \"\",\n    \"Attribute\": \"\",\n    \"Summary Insight\": \"\",\n    \"Recommended Action\": \"\",\n    \"Content Idea\": \"\",\n    \"Type (Blog / Social / Campaign)\": \"\",\n    \"Impact Level\": \"\",\n    \"Owner / Team\": \"\",\n    \"Date Created\": \"{{$now}}\"\n  }\n]\n\n### INPUT HTML REPORT:\n{{ $json.output_text }}\n\n### EXTRACTION RULES:\n\n1. **Insight**  \n   - Short, actionable title (e.g., \"Promote washable 8x10 in distressed abstract\")  \n   - Product + size + style + benefit\n\n2. **Related Trend**  \n   - Main trend from title/h1/h2 (e.g., \"Machine-washable rugs\" → \"Washable rugs expansion\")\n\n3. **Related Competitor**  \n   - Any brand mentioned (e.g., Target, Amazon). Use `-` if none.\n\n4. **Attribute**  \n   - Key traits: `washable / distressed abstract / 8x10 / ivory`  \n   - Format: `feat1 / feat2 / size` (max 4)\n\n5. **Summary Insight**  \n   - 1 sentence: consumer behavior or market gap  \n   - Use report language: \"dominate best-seller lists\", \"pet-friendly\", \"millennial homes\"\n\n6. **Recommended Action**  \n   - Specific: \"Launch 3 SKUs\", \"Feature on homepage\", \"Test email\"\n\n7. **Content Idea**  \n   - Direct quote or idea:  \n     - Blog: \"How to Style Washable Rugs\"  \n     - IG: \"Spill-proof & stylish!\"  \n     - Email: \"New Washable Rugs Are Here!\"\n\n8. **Type (Blog / Social / Campaign)**  \n   - `Blog`\n   - This is gives in output like amazon, walmart etc.\n\n9. **Impact Level**  \n   - `High` (best-seller, dominates)  \n   - `Medium` (growing, opportunity)  \n   - `Low` (niche)\n\n10. **Owner / Team**  \n    - `Merchandising`, `Marketing`, `Creative`, `Product`  \n    - Default: `Marketing`\n\n11. **Date Created**  \n    - Today: `{{ $now.format('YYYY-MM-DD') }}`\n\n### OUTPUT RULES:\n- Output **valid JSON array** (even if 1 item)\n- **No markdown, no code blocks, no extra text**\n- Use double quotes\n- Replace line breaks in values with **space**\n- Use `-` if field missing\n- **Max 3 insights per report** (prioritize strongest)\n\n### EXAMPLE (do not include):\n[\n  {\n    \"Insight\": \"Promote washable low-pile 5×8 in neutral grey\",\n    \"Related Trend\": \"Washable rugs expansion\",\n    \"Related Competitor\": \"Target\",\n    \"Attribute\": \"washable / low-pile / 5x8\",\n    \"Summary Insight\": \"High demand for washable, budget-friendly rugs for families.\",\n    \"Recommended Action\": \"Feature washable SKUs in homepage banner and email.\",\n    \"Content Idea\": \"'Spill-proof. Stress-proof. Discover washable rugs.'\",\n    \"Type (Blog / Social / Campaign)\": \"Blog\",\n    \"Impact Level\": \"High\",\n    \"Owner / Team\": \"Merchandising\",\n    \"Date Created\": \"2025-10-09\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        928
      ],
      "id": "5dd79058-8fcb-4cdb-82fd-0454a241d4d9",
      "name": "Generate output for excel sheet 3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output_text }}",
        "options": {
          "systemMessage": "=You are a competitive landscape analyst for Wayfair. Convert the HTML competitive report into **valid JSON** (array with one object) using this exact structure:\n\n[\n  {\n    \"Competitor\": \"\",\n    \"Product / Collection\": \"\",\n    \"Category\": \"\",\n    \"Feature\": \"\",\n    \"Price\": \"\",\n    \"Rating\": \"\",\n    \"PDP Highlights\": \"\",\n    \"Campaign / Social Mention\": \"\",\n    \"Last Launch Date\": \"\",\n    \"Insight\": \"\",\n    \"Wayfair Gap\": \"\",\n    \"Suggested Action\": \"\"\n  }\n]\n\n### INPUT HTML REPORT:\n{{ $json.output_text }}\n\n### EXTRACTION RULES:\n\n1. **Competitor**  \n   - Always \"Amazon\" (only competitor present).\n\n2. **Product / Collection**  \n   - Extract the main Amazon product name (e.g., \"Zentavio Area Rugs\").\n\n3. **Category**  \n   - Always \"Rugs\".\n\n4. **Feature**  \n   - Key features from Amazon product (e.g., \"ultra-soft, non-slip, machine-washable\").  \n   - Comma-separated, max 5.\n\n5. **Price**  \n   - Use \"N/A\" if not available. Do **not** guess.\n\n6. **Rating**  \n   - Format: \"4.3\" or \"4.3 out of 5 stars\" → use only number (e.g., \"4.3\").\n\n7. **PDP Highlights**  \n   - Key selling points from Amazon listing (e.g., \"soft comfort, easy cleaning, non-slip\").\n\n8. **Campaign / Social Mention**  \n   - Use \"N/A\" unless explicitly mentioned.\n\n9. **Last Launch Date**  \n   - Use \"N/A\" (no launch date in report).{{ $now }}\n\n10. **Insight**  \n    - One strong insight about Amazon's strength (e.g., \"Amazon emphasizes value and comfort in budget shag rugs\").\n\n11. **Wayfair Gap**  \n    - Where Wayfair is weaker vs Amazon (from \"Whitespace Opportunities\" or \"Key Gaps\").\n\n12. **Suggested Action**  \n    - Actionable fix for Wayfair (from \"Actionable Recommendations\").\n\n### OUTPUT RULES:\n- Output **valid JSON array with exactly 1 object**\n- **No markdown, no code blocks, no extra text**\n- Use double quotes\n- Replace line breaks with **space**\n- Use **N/A** if data missing\n- **Do NOT include HTML**\n\n### EXAMPLE (do not include):\n[\n  {\n    \"Competitor\": \"Amazon\",\n    \"Product / Collection\": \"Zentavio Area Rugs\",\n    \"Category\": \"Rugs\",\n    \"Feature\": \"high-pile, non-slip, easy clean\",\n    \"Price\": \"N/A\",\n    \"Rating\": \"4.3\",\n    \"PDP Highlights\": \"soft comfort, value for money\",\n    \"Campaign / Social Mention\": \"N/A\",\n    \"Last Launch Date\": \"N/A\",\n    \"Insight\": \"Amazon drives sales with benefit-focused messaging and perceived value.\",\n    \"Wayfair Gap\": \"Limited benefit messaging vs technical specs\",\n    \"Suggested Action\": \"Add 'soft & durable' benefit callouts to PDP\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        480
      ],
      "id": "e1b39063-9375-47db-bb25-a99bd018ac9f",
      "name": "Generate output for excel sheet 2",
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output_text }}",
        "options": {
          "systemMessage": "=You are a trend data extractor. Convert the HTML trend report into **valid JSON** (array with one object).{{ $now }}\n\n### OUTPUT FORMAT:\n[\n  {\n    \"Trend\": \"\",\n    \"Category\": \"Rugs\",\n    \"Detected Date\": \"YYYY-MM-DD\",\n    \"Trend Type\": \"Current|Emerging|Sustained\",\n    \"Size\": \"\",\n    \"Color\": \"\",\n    \"Material\": \"\",\n    \"Pattern\": \"\",\n    \"Style\": \"\",\n    \"Feature\": \"\",\n    \"Price Bucket\": \"\",\n    \"Mentions (Sources)\": \"\",\n    \"Key Insight\": \"\",\n    \"Source Example\": \"\"\n  }\n]\n\n### INPUT HTML REPORT:\n{{ $json.output_text }}\n\n### INSTRUCTIONS:\n1. Extract data exactly as in your previous TSV logic.\n2. **Detected Date**: Use latest source date (e.g., Oct 27, 2025 → \"2025-10-27\"). If none, use {{ $now.format('YYYY-MM-DD') }}.\n3. **Trend Type**: \n   - \"Current\" → \"strong\", \"actively\", \"focal point\"\n   - \"Emerging\" → \"rising\", \"gaining\", \"increasing\"\n   - \"Sustained\" → \"ongoing\", \"continued\"\n4. All multi-value fields: comma-separated strings (no arrays).\n5. Escape only if needed — keep clean.\n6. If field missing: use `-` (string).\n\n### OUTPUT RULES:\n- Output **only valid JSON** (array with one object).\n- **No markdown, no code blocks, no extra text**.\n- Use double quotes for keys and string values.\n- Replace line breaks in values with spaces.\n\n### EXAMPLE (do not include):\n[\n  {\n    \"Trend\": \"Soft, High-Pile Shag Rugs\",\n    \"Category\": \"Rugs\",\n    \"Detected Date\": \"2025-10-27\",\n    \"Trend Type\": \"Current\",\n    \"Size\": \"8×10, 5×8\",\n    \"Color\": \"Grey, Warm neutrals\",\n    \"Material\": \"Synthetic (polyester)\",\n    \"Pattern\": \"Solid, Textured\",\n    \"Style\": \"Modern\",\n    \"Feature\": \"High-pile, Shag, Soft\",\n    \"Price Bucket\": \"$25 to $75\",\n    \"Mentions (Sources)\": \"Walmart Product Page — Oct 27, 2025\",\n    \"Key Insight\": \"Strong demand for cozy, affordable shag rugs.\",\n    \"Source Example\": \"Walmart Product Page: CozyDesg 8ft x 10ft Area Rugs — Oct 27, 2025\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        0
      ],
      "id": "b0c0a0d9-9249-4806-a0c6-b054292bb230",
      "name": "Generate output for excel sheet 1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        480
      ],
      "id": "69078a68-e5e8-4526-bb41-e5bc6d37d923",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Generate output for excel sheet 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate output for excel sheet 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract data from AI output": {
      "main": [
        [
          {
            "node": "Update 1_TrendSignals sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract data from AI output1": {
      "main": [
        [
          {
            "node": "Update 2_CompetitorMoves sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract data from AI output2": {
      "main": [
        [
          {
            "node": "Update 3_Allinsights sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Generate output for excel sheet 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a row3": {
      "main": [
        [
          {
            "node": "Generate output for excel sheet 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row2": {
      "main": [
        [
          {
            "node": "Generate output for excel sheet 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Generate output for excel sheet 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate output for excel sheet 3": {
      "main": [
        [
          {
            "node": "Extract data from AI output2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate output for excel sheet 2": {
      "main": [
        [
          {
            "node": "Extract data from AI output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate output for excel sheet 1": {
      "main": [
        [
          {
            "node": "Extract data from AI output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a row2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "48954f7b-f462-4bae-86fb-4af45b0946a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f15fa08e8c8c1fb9655b51adc8fc147ae8a1caccdb9dc64a02440bd52abe72d"
  },
  "id": "WRmxpBkJZje70IHK",
  "tags": []
}